<div class="row pl-3 pr-3">
    <div class=" col-md-8 offset-md-2">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="test in vm.parsedTest">

                <div style="color: dodgerblue">
                    {{ $index+1 }}. {{ test.question }}
                </div>
                <div class="radio" ng-repeat="answer in test.answer">
                    <label><input type="radio"
                                  ng-model="vm.userAnswers[$parent.$index]"
                                  ng-value="$index"
                            > {{answer}}</label>
                </div>
            </div>
        </div>
        <div class="btn btn-primary col-md-12" ng-click="vm.sendAnswers()">
            Надіслати відповідь
        </div>
    </div>
</div>