<div class="row pl-3 pr-3">
    <div class="col-md-8 offset-md-2">
        <div class="text-right">
            <a class="btn cursor-pointer pl-1 mr-2" ui-sref="main.test_result({id: vm.test.objectId})">
                Результати
                <i class="fa-list fa"></i>
            </a>
        </div>

        <div class="list-group text-center" ng-if="vm.userResult">
            <h4>Ваш результат: {{ vm.userResult.result }}</h4>
        </div>

        <div class="list-group" ng-if="!vm.userResult">
            <div class="list-group-item" ng-repeat="test in vm.parsedTest">

                <div style="color: dodgerblue">
                    {{ $index+1 }}. {{ test.question }}
                </div>
                <div class="radio" ng-repeat="answer in test.answer">
                    <label><input type="radio"
                                  ng-model="vm.userAnswers[$parent.$index]"
                                  ng-value="$index"
                            > {{answer}}</label>
                </div>
            </div>
            <div class="btn btn-primary col-md-12" ng-click="vm.sendAnswers()">
                Надіслати відповідь
            </div>
        </div>
    </div>
</div>