<div class="row pl-3 pr-3">
    <div class=" col-md-8 offset-md-2">
        <div class="list-group">
            <div class="list-group-item" ng-repeat="test in vm.parsedTest">

                <a href="">
                    {{ $index+1 }}. {{ test.question }}
                </a>
                <div class="radio" ng-repeat="answer in test.answer">
                    <label><input type="radio" name="{{$parent.$index}}"> {{answer}}</label>
                </div>
            </div>
        </div>
    </div>
</div>